applet, object, iframe,body,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend, caption,img, header, container {
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body{
    background:#f4f3ee;
    color:#4f4e4e;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
}

@media handheld, only screen and (max-width: 1200px) { }
