@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, img, header, container {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot");
}
body {
  background: #000;
  color: #bbb;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

body.bg {
  background: #000 url(../img/bg.jpg) no-repeat 0 0;
  background-position: center;
  position: relative;
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form input, .form input:focus {
  outline: none;
  box-shadow: none;
}

.loginCnt {
  color: #fff;
  margin-top: 60px;
}
.loginCnt h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.loginCnt input.form-control {
  background-color: transparent;
  border: none;
  color: #ccc;
  border-bottom: 1px solid #fff;
}
.loginCnt label {
  font-size: 13px;
}
.loginCnt .hasAccount {
  text-align: center;
  font-size: 14px;
}
.loginCnt #registerForm {
  display: none;
}
.loginCnt .alert {
  margin-top: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  opacity: 0.82;
}
.loginCnt .hideForms:hover {
  cursor: pointer;
}

.bdr_btn {
  background-color: transparent;
  border: 1px solid #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.bdr_btn:hover {
  background-color: #fff;
  color: #333;
}
.bdr_btn:focus {
  outline: none;
  border: none;
}

.artist_info h1 {
  margin: 20px 0;
  color: #ddd;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.tracklist h2, .grid_view h2 {
  text-align: center;
  font-weight: 700;
}

.artist_name:hover, .album_link img:hover, .track_name:hover, .entity_info .artist:hover {
  cursor: pointer;
}

.bdrbtm {
  border-bottom: 1px solid #666;
  overflow: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.artist_btn {
  background: #07d159;
  border: 1px solid #07d159;
  max-width: 200px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  display: block;
}

.home_rightcol {
  color: #fff;
  border-left: 1px solid #fff;
  padding-left: 40px;
  margin-top: 60px;
  height: 100%;
}
.home_rightcol h1 {
  color: #07d159;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 40px;
}
.home_rightcol h2 {
  margin-bottom: 20px;
}
.home_rightcol ul {
  font-size: 16px;
  line-height: 2.0em;
  padding-left: 15px;
}

#nowPlayingBarCnt {
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#nowPlayingBarCnt #nowPlayingBar {
  display: flex;
  height: 105px;
  padding: 18px 15px 15px;
  box-sizing: border-box;
}
#nowPlayingBarCnt #nowPlayingBar .content {
  height: 57px;
}
#nowPlayingBarCnt #nowPlayingCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerControls .buttons {
  margin: 0 auto;
  display: table;
}

button.controlBtn {
  background-color: transparent;
  color: #aaaaaa;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none !important;
  vertical-align: middle;
  padding-bottom: 0;
  padding-top: 0;
}
button.controlBtn.play, button.controlBtn.pause {
  font-size: 40px;
}
button.controlBtn:hover {
  color: #ddd;
}
button.controlBtn.active_btn {
  color: #07d159;
}
button.controlBtn:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.progress_time {
  color: #aaaaaa;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playback_bar, .volume_bar {
  display: flex;
  width: 100%;
}

.progressbar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
}
.progressbar .progressbar_bg {
  background-color: #555;
  height: 4px;
  width: 100%;
  margin-top: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.progressbar .progress_cur {
  background-color: #aaaaaa;
  width: 0%;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.volume_bar .progress_cur {
  width: 100%;
}

.album_link .album_artwork {
  max-width: 60px;
  margin-right: 12px;
  float: left;
  margin-top: 10px;
  background-size: cover;
}

.track_info {
  display: table;
}
.track_info .track_name {
  margin: 10px 0 3px;
  width: 100%;
  display: inline-block;
  color: #eee;
  font-size: 14px;
}
.track_info .artist_name {
  font-size: 12px;
  color: #959595;
}

.volume_bar {
  position: absolute;
  right: 0;
  width: 190px;
}
.volume_bar .progressbar {
  width: 120px;
  margin-top: 5px;
}

#nowPlayingRight {
  margin-top: 25px;
}

.top_cnt {
  min-height: 100%;
  background-color: #161616;
}

.nav_sidebar {
  background: #000;
  height: 100vh;
  padding: 0 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav_bar {
  padding: 25px;
}
.nav_bar .logo img {
  width: 35px;
}

.group {
  border-top: 1px solid #a0a0a0;
  padding: 10px 0;
}

.nav_item {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  display: block;
}
.nav_item a {
  color: #a0a0a0;
  text-decoration: none;
}
.nav_item a:hover {
  color: #eee;
}
.nav_item .nav_link span i {
  position: absolute;
  right: 30px;
  float: right;
}

#main_view_cnt {
  padding: 25px;
  margin-bottom: 100px;
  position: relative;
  left: 25%;
}

.pg_heading_lg {
  color: #ddd;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.grid_view .album_cover {
  margin-bottom: 10px;
  margin-top: 20px;
}
.grid_view .album_title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid_view .album_title a {
  color: #a0a0a0;
  text-decoration: none;
}
.grid_view .album_title a:hover {
  color: #eee;
}

.entity_info img.album_cover {
  margin-top: 20px;
}
.entity_info .album_title {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #ccc;
  font-size: 28px;
  font-weight: 600;
}
.entity_info p {
  color: #939393;
  margin-bottom: 10px;
}

.tracklist_row.active {
  background: #2a2a2a;
}
.tracklist_row.active .controlBtn.play, .tracklist_row.active .track_options {
  visibility: visible;
}
.tracklist_row.active .track_number {
  visibility: hidden;
}

.track_list {
  padding: 0;
  list-style: none;
  margin-top: 50px;
}
.track_list .tracklist_row {
  height: 75px;
  padding: 15px 10px;
}
.track_list .tracklist_row:hover {
  background: #2a2a2a;
}
.track_list .tracklist_row:hover .controlBtn.play, .track_list .tracklist_row:hover .track_options {
  visibility: visible;
}
.track_list .tracklist_row:hover .track_number {
  visibility: hidden;
}
.track_list .track_info {
  color: #a0a0a0;
  width: 75%;
  float: left;
}
.track_list .track_info .track_name {
  margin: 0;
  margin-bottom: 7px;
  display: block;
}
.track_list .track_count {
  width: 8%;
  float: left;
}
.track_list .play {
  font-size: 22px !important;
  visibility: hidden;
  position: absolute;
}
.track_list .track_options {
  float: left;
  width: 5%;
  visibility: hidden;
  font-size: 18px;
}
.track_list .track_options:hover {
  cursor: pointer;
}
.track_list .track_duration {
  width: 12%;
  float: left;
  text-align: right;
}

.logo:hover, .nav_link:hover, .grid_view .album_cover:hover, .grid_view .album_title:hover {
  cursor: pointer;
}
.logo:focus, .nav_link:focus, .grid_view .album_cover:focus, .grid_view .album_title:focus {
  outline: none !important;
}
.logo:active, .nav_link:active, .grid_view .album_cover:active, .grid_view .album_title:active {
  outline: none !important;
}

.search_cnt {
  background: #242424;
  padding: 20px;
  margin-bottom: 25px;
}
.search_cnt h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}
.search_cnt input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 15px 0;
  color: #ddd;
  margin-top: 10px;
  height: 60px;
  font-weight: 700;
  font-size: 40px;
  outline: none;
}

.search_result_row .track_list {
  margin-top: 0px;
}
.search_result_row h3 {
  margin-bottom: 30px;
}
.search_result_row .artist_name {
  margin-bottom: 5px;
  font-weight: 700;
}

.artist_results h3 {
  margin-bottom: 30px;
}

.no_results {
  color: tomato;
}
